$gray-dark: #373A3C;
$gray: #55595C;
$gray-light: #818A91;
$gray-lighter: #ECEEEF;
$gray-lightest: #F5F5F5;

$brand-primary: #4285F4;
$brand-primary-dark: #0D47A1;
$brand-success: #00C851;
$brand-success-dark: #007E33;
$brand-info: #33B5E5;
$brand-info-dark: #0099CC;
$brand-warning: #FFBB33;
$brand-warning-dark: #FF8800;
$brand-danger: #FF4444;
$brand-danger-dark: #CC0000;
$brand-inverse: $gray-dark;

$default-color: #2BBBAD;
$default-color-dark: #00695C;
$primary-color: #4285F4;
$primary-color-dark: #0D47A1;
$secondary-color: #AA66CC;
$secondary-color-dark: #9933CC;

// $box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14),
//   0 2px 2px 0 rgba(0, 0, 0, 0.098);

// $gutter-xs: '0.5rem';
// $gutter-sm: '0.8rem';
// $gutter-md: '1rem';
// $gutter-lg: '1.5rem';
// $gutter-xl: '2rem';

$green: #41c300;
